<!DOCTYPE html>
<html lang="en" ng-app="Barbarians">
<head>
	<title>Superdesk Seat Chart</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.min.css">
</head>
<body>
	<section id="nav">
		<div ng-controller="DropdownCtrl" class="btn-group search" dropdown is-open="status.isopen">

			
			<button id="single-button" type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
				Search <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
				<li role="menuitem" ng-model="category"ng-repeat="category in categories"><a href="#">{{ category }}</a></li>
			</ul>

		</div>
		<div class="input-group" ng-controller="SearchBarCtrl">
            <input type="search" ng-model="search"class="form-control" ng-click="$event.stopPropagation()" ng-change="runSearch()">
    </div>
		<div ng-controller="addBarbarianController">
			<form class="new-barbarian-form" name="newBarbarian" ng-submit="newBarbarian.$valid && addBarbarian()">
				<h2>Add a New Barbarian!</h2>

				<div class="form-error" ng-if="new-barbarian-form.$invalid && new-barbarian-form.$submitted">Please fill out the fields</div>

				<div class="form-group">
					<label>Name:</label>
					<input type="text" name="barbarianName" ng-model="newBarbarian.name" required />
				</div>

				<div class="form-group">
					<label>Department:</label>
					<select class="selected form-control" ng-model="newBarbarian.department">
						<option value="" selected disabled>Select a department</option>
						<option ng-repeat="department in departments">
							{{ department }}
						</option>
					</select>
				</div>

				<!-- <div class="form-group">
					<label>Team:</label>
					<input type="text" name="barbarianTeam" ng-model="newBarbarian.team" required />
				</div> -->

				<div class="form-group">
					<label>Add a seat:</label>
					<button type="button" class="btn btn-primary" name="barbarianSeat" />+</button>
				</div>

				<button class="btn btn-primary" type="submit">Add a New Barbarian</button>

			</form>
		</div>
	</section>


	<div id="superdesk" class="superdesk" ng-controller="DotsCtrl">
	<!-- Raphael JS Map Here -->
	  
		<svg ng-click="seatDot($event)" ng-attr-height="{{graph.height}}" ng-attr-width="{{graph.width}}">
		  	<image id="kort" sketch:type="MSBitmapLayer" x="-3" y="-3" width="749" height="1335" xlink:href="images/just_superdesk.png"></image>
		  	<!-- existed dots -->
		  	<g ng-repeat="ele in existedDotsArr">
				<g ng-switch on="ele.type">
				    <circle ng-attr-cx="{{ele.x}}" ng-attr-cy="{{ele.y}}" ng-attr-r="{{ele.r}}" stroke-width="{{ele.sw||sw}}" class="{'focus':ele.f===1}">
				    </circle>
				</g>
			</g>
		  	<!-- new dots -->
	    <!-- 	<g ng-repeat="ele in elements">
	    		{{ele.x}}
				<g ng-switch on="ele.type">
				    <circle ng-switch-when="0" ng-attr-cx="{{ele.x}}" ng-attr-cy="{{ele.y}}" ng-attr-r="{{ele.r}}" stroke-width="{{ele.sw||sw}}" class="{'focus':ele.f===1}">
				    </circle>
				</g>
			</g> -->
				
		</svg>

	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
	<script src="/js/lib/ui-bootstrap-tpls-0.13.3.min.js"></script>
	<script src="/js/modules/app.js"></script>	
	<script src="/js/services/barbarians.factory.js"></script>
	<script src="/js/services/dots.factory.js"></script>
	<script src="/js/services/newBarbarian.service.js"></script>
	<script src="/js/controllers/addBarbarian.ctrl.js"></script>
	<script src="/js/controllers/dots.ctrl.js"></script>
	<script src="/js/controllers/search.ctrl.js"></script>
	<script src="/js/controllers/dropdown.ctrl.js"></script>
	<!-- Raphael
	<script src="/js/lib/raphael-min.js"></script>
	<script src="/js/superdesk.js"></script>
	-->
</body>
</html>