<div class="ng-modal" ng-show="show">
  <div class="ng-modal-dialog" ng-style="dialogStyle">
    <div class="ng-modal-close" ng-click="hideModal()">X</div>
    <div class="ng-modal-dialog-content" ng-transclude></div>
  	<div class="edit-form">
					<form class="new-barbarian-form" name="eachBarbarian" ng-submit="eachBarbarian.$valid && editBarbarian(id, eachBarbarian)">
						<span>Edit a Barbarian!</span>

						<div class="form-group">
							<label>Name:</label>
							<input type="text" name="barbarianName" ng-model="eachBarbarian.name" value="eachBarbarian.name">
						</div>

						<div class="form-group">
							<label>Department:</label>
							<select class="selected form-control" ng-model="eachBarbarian.department">
								<option value="" selected disabled>Select a department</option>
								<option ng-repeat="department in departments">
									{{ department }}
								</option>
							</select>
						</div>

						<div class="form-group">
							<label>Add a seat:</label>
							<button type="button" class="btn btn-primary" name="barbarianSeat" />+</button>
						</div>

						<button class="btn btn-primary" type="submit" ng-click="editBarbarian(id, eachBarbarian)">Edit</button>

						<button class="btn btn-primary" type="submit" ng-click="deleteBarbarian(id)">Delete</button>

					</form>
				</div>
  </div>
</div>