section.search {
	text-align: center;
	margin: 0 auto;
	position: relative;
	max-width: 1300px;
	width: 100%;
	padding:2% 0;
	.search {
		position: relative;
		.search-form {
			display:block;
			margin-bottom: 10px;
			.searchbtn {
				float: left;
			}
			.btn{
				margin-right: 5px;
			}
			.btn:last-child {
				margin-right: 0;
			}
		}
		.input-group {
			display: inline-block;
		}
	}
	.check {
		top: 50%;
		transform: translateY(-50%);
		display: inline-block;
	}
}