body, html{
		padding: 0;
		margin: 0;
    height:100%;
    width:100%;
}
.superdesk {
	width: 100%;
	height: 650px;
	max-width: 1200px;
	margin: 0 auto;
}
svg { 
	height: 100%; 
	width: 100%; 
	// cursor: move;
}
